@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Poppins:wght@100;400&family=Roboto&display=swap');


body {
    background-color: rgb(2, 2, 38);
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.card-content {
    margin: auto;
    width: 450px;
    height: 550px;
    background-color: #0e5398;
    border-radius: 10px;
   
}


#item-text {
    border: none;
    margin-left: 30px;
    padding: 5px;
    width: 240px;
    height: 25px;
    border-radius: 10px;
    background-color: #fffdd0;
}

.adicionar {
    font-family: 'Noto Sans Mono', monospace;
    font-size: medium;
    border: none;
    background-color: #08f337 ;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}